/* Null style */
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 16px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

/* Default */
body {
	font-family: "Josefin Slab", serif;
	background-color: #f5f3e0;
	color: #9192a5;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-x: hidden;
	min-height: 100vh;
}

.header {
	margin-bottom: 2rem;
}

.title {
	text-align: center;
	font-size: 4rem;
	margin: 2rem 0 0;
	font-weight: 600;
	letter-spacing: 6px;
}

.suptitle {
	text-align: center;
	font-size: 1.5rem;
	margin-top: 0.8rem;
}

.wrapper {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
	padding: 0 1rem;
	margin-bottom: 3rem;
}

/* Game info*/
.game-content {
	max-width: 1000px;
}

.game-info {
	align-items: center;
	justify-content: space-between;
	padding: 0 0.8rem;
	margin: 0 auto 0.5rem;

	display: none;
}

.game-info.active {
	display: flex;
}

.game-stat {
	flex: 1 1 33.3333%;
	font-size: 1.3rem;
	letter-spacing: 0.1rem;
}

.difficulty {
	text-align: left;
}

.moves {
	text-align: center;
}

.timer {
	text-align: right;
	letter-spacing: 2px;
}

/* Menu levels. */
.levels {
	display: none;
}

.levels.active {
	display: block;
	margin-top: 0.8rem;
	margin-bottom: 3rem;
}

.level-btn {
	display: flex;
	align-items: center;
	cursor: pointer;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
	padding: 0.5rem;
	padding-bottom: 0.27rem;
	margin-bottom: 0.8rem;
	width: 100%;
	background-color: #fff;
	border-radius: 5px;
	justify-content: space-between;
	transition: all 0.2s ease;
	border-bottom: 4px solid transparent;
}


.level-btn:hover {
	border-bottom: 4px solid #9192a5;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

.level-btn:hover .play-btn {
	background-color: #f5f3e0;
	color: #444;
}

.level-number {
	font-size: 4rem;
	margin: 0 1rem 0 1rem;
	font-weight: 600;
	text-shadow: -2px -2px 10px #949172;
	text-align: center;
	width: 30px;
}
.level-cards {
	font-size: 2.2rem;
	font-weight: 400;
}

.cards-number {
	font-weight: 600;
	font-size: 2.5rem;
}

.play-btn {
	margin: 0 0.7rem;
	font-size: 1.3rem;
	color: #fff;
	transition: all 0.2s ease;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	background-color: #444;
	text-align: right;
}

/* Game table */
table {
	border-spacing: 0.5rem;
	margin: 0 auto;
}

.table__col {
	width: 1000px;
	background-color: transparent;
	cursor: pointer;

	max-width: 200px;
}

/* This container is needed to position the front and back side */
.card__inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.7s;
	transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.card.active .card__inner {
	transform: rotateY(180deg);
}

/* Position the front and back side */
.card__front,
.card__back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
	border-radius: 0.7rem;
	border: 2px solid #e0f5f3; /* #F3E0F5 #E0E2F5(complementary) */
}

/* Style the front side (fallback if image is missing) */
.card__front {
	color: black;
	background-image: url(img/cardBg.webp);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

/* Style the back side */
.card__back {
	background-color: #fff;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	transform: rotateY(180deg);
}

/* Buttons */
.btns-container {
	display: flex;
}

.btns-container button {
	flex: 1 1 33.3%;
	border-radius: 10px;
	font-size: 2rem;
	padding: 0.5rem 1rem;
	text-align: center;
	margin: 2rem 0.2rem;
	color: #f5f3e0;
	font-weight: 600;
	background-color: #9192a5;
	transition: all 0.3s ease;
	box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
}

.btns-container button:hover {
	background-color: #87889b;
	box-shadow: 0 5px 6px rgba(0, 0, 0, 0.4);
}

/* Theme Tabs */
.tabs {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 10px;
	position: relative;
}

.tabs::after {
	content: "";
	position: absolute;
	bottom: 0px;
	left: 50%;
	transform: translateX(-50%);
	z-index: -1;
	height: 3px;
	width: 100%;
	background-color: transparent;
	color: transparent;

	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.tabs li {
	position: relative;
	flex: 1 1 33.33333333%;
	text-align: center;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	background-color: #fff;
	cursor: pointer;
	transition: all 0.3s ease;
}

.tabs a {
	color: inherit;
}

.tabs .active {
	z-index: 3;
}

.tabs li.active {
	z-index: 3;
	background-color: #444;
	color: #fff;
}

.tabs li:before,
.tabs li:after,
.tabs li a:before,
.tabs li a:after {
	transition: all 0.3s ease;
	position: absolute;
	bottom: 0;
}

.tabs li:last-child:after,
.tabs li:last-child a:after,
.tabs li:first-child:before,
.tabs li:first-child a:before,
.tabs .active:after,
.tabs .active:before,
.tabs .active a:after,
.tabs .active a:before {
	transition: all 0.3s ease;
	content: "";
}
.tabs .active:before,
.tabs .active:after {
	background: #444;

	/* Squares below circles */
	z-index: 1;
}
/* Squares */
.tabs li:before,
.tabs li:after {
	background: #fff;
	width: 10px;
	height: 10px;
}
.tabs li:before {
	left: -10px;
}
.tabs li:after {
	right: -10px;
}
/* Circles */
.tabs li a:after,
.tabs li a:before {
	width: 20px;
	height: 20px;
	/* Circles are circular */
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #f5f3e0;

	/* Circles over squares */
	z-index: 2;
}
.tabs .active a:after,
.tabs .active a:before {
	background: #fff;
}
/* First and last tabs have different
   outside color needs */
.tabs li:first-child.active a:before,
.tabs li:last-child.active a:after {
	background: #f5f3e0;
}
.tabs li a:before {
	left: -20px;
}
.tabs li a:after {
	right: -20px;
}

.tabs li img {
	max-width: 100%;
	height: auto;
}

.theme-tab__title {
	font-size: 1.7rem;
	letter-spacing: 3px;
	font-weight: 600;
	margin: 0.7rem 0;
}

/* Adaptive */
@media (max-width: 991.98px) {
	html {
		font-size: 15px;
	}
}

@media (max-width: 767.98px) {
	html {
		font-size: 14px;
	}

	.btns-container {
		flex-direction: column;
		margin-top: 1rem;
	}

	.btns-container button {
		margin: 0.5rem;
	}

	table {
		border-spacing: 0.2rem;
	}
}

@media (max-width: 479.98px) {
	html {
		font-size: 12px;
	}

	table {
		border-spacing: 0rem;
	}
}
